body {
    background-color: blue;
    background-image: url('imagem backgorunf.png');
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 20px;
    align-items: block;
    
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 100px;
    text-align: center;
    background: linear-gradient(45deg, #000000, #ffffff, #000000);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    border-color: #088c93;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    text-align: center;
    background: linear-gradient(45deg, #000000, #e5e5e5, #dfdada);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    border-color: #088c93;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#container {
    font-size: 20px;
    background: rgba(0, 0, 0, 0.9);
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;

    width: 900px;
    height: 500px;
    padding: 20px;
    margin: 0 auto;
    gap: 10px;
    margin-bottom: 100px;

    display: block;
    align-items: center;
    flex-direction: column;
    image-rendering: pixelated;
    z-index: 3;
    
}




#container2 {
    font-size: 20px;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;

    width: 900px;
    height: 500px;
    padding: 20px;
    margin: 0 auto;
    gap: 10px;
    margin-bottom: 200px;

    display: block;
    align-items: center;
    flex-direction: column;
   
    z-index: 1;

        transform: scale(0.95);
    transition: all 1.2s ease;
}



#container3{

    font-size: 20px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;

    width: 900px;
    height: 500px;
    padding: 20px;
    margin: 0 auto;
    gap: 10px;

    display: block;
    align-items: center;
    flex-direction: column;
   
    z-index: 1;

        transform: scale(0.9);
    transition: all 1.2s ease;
}

#botao1 {
    background-color: #088c93;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

img {
    background-image: url('imagem1.png');
    background-size: cover;
    width: 350px;
    height: 350px;
    border-radius: 10px;
    margin: 0 auto;
}

#rodape{
    background-color: rgba(0, 0, 0, 0.9); 
    color: #ffffff; 
    text-align: center;
    padding: 20px;
    font-family: monospace; 
    font-size: 14px;
    

    border-top: 2px solid #088c93; 
    box-shadow: 0 -5px 15px rgba(8, 140, 147, 0.3); 
    

    position: relative;
    margin-top: 50px; 
    width: 100%;
}